<div class="text-center ">
	<a href="http://github.com/wdelaros/">
		<svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24">
			<path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
		</svg>
	</a>
	<p class="p-2">
		&copy;2024 <span translate="no"> Brand Name.</span> <span data-i18n="rights_reserved">All rights reserved</span> <br><a href="#" data-i18n="privacy">Privacy</a> | <a href="#" data-i18n="terms">Terms</a> | <a href="#" data-i18n="legal">Legal</a> | <a href="#" data-i18n="cookie_preferences">Cookie Preferences</a>
	</p>
</div>
<button type="button" data-toggle="modal" data-target="#setting" data-i18n="setting">Setting</button>
<div class="modal fade" id="setting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content mb-0 ">
			<div class="modal-header">
					<h5 class="modal-title" data-i18n="setting">Setting</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div> 
			<div class="modal-body">
			</div>
			<div class="modal-footer mb-0 ">
				<button id='languageDisplay' class='dropdown-toggle' role='button' data-toggle='dropdown'>
					<span class="caret" data-i18n="language">Language</span>
				</button>
				<div id='languageSelector' class='dropdown-menu'> 
					<button type="button" class="lang-btn dropdown-item" data-lang="en" data-i18n="language_english">English</button>
					<button type="button" class="lang-btn dropdown-item" data-lang="fr" data-i18n="language_french">French</button>
				</div>
			</div>
		</div>
	</div>
</div>
