<button type="button" data-bs-toggle="modal" data-bs-target="#setting" class="position-absolute bottom-0 start-0">
	<img src="/img/gear-wide-connected.svg" alt="gear wide connected" style="width: 32px; height: 32px;">
	<br>
	<span data-i18n="setting">Setting</span>
</button>
<!-- menu close modal open a new -->

<button type="button" data-bs-toggle="modal" data-bs-target="#friend" class="friendBtn text-center position-absolute bottom-0 end-0">
	<img src="/img/people.svg" alt="person fill" style="width: 32px; height: 32px;">
	<br>
	<span data-i18n="friend_list"></span>
</button>

<!-- setting modal -->
<div class="modal" id="setting" tabindex="-1" data-bs-backdrop="none" aria-labelledby="setting" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="setting">Setting</h5>
				<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
			</div> 
			<div class="modal-body">
				<div class="d-flex  justify-content-between ">
					<button type="button" class="btn">meu</button>
					<button type="button" class="btn">sound</button>
					<button type="button" class="btn">Contact</button>
				</div>
				<hr>
			</div>
			<div class="modal-footer">
				<div class="btn-group ">
					<button type="button" id="languageDisplay" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="language">
						Language
					</button>
					<ul id='languageSelector' class='dropdown-menu'> 
						<li><button type="button" class="lang-btn dropdown-item" data-lang="en" data-i18n="language_english">English</button></li>
						<li><button type="button" class="lang-btn dropdown-item" data-lang="fr" data-i18n="language_french">French</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div> 
</div>

<!-- friend list modal -->
<div class="modal infiniteModal" id="friend" data-bs-backdrop="static" tabindex="-1" aria-labelledby="friend" aria-hidden="true">
	<div class="friendBtn modal-dialog modal-dialog-scrollable position-absolute bottom-0 end-0 mb-0 me-0">
		<div class="modal-content rounded-0 border">
			<div class="modal-header d-flex justify-content-between">
				<h6 class="modal-title" data-i18n="friend_list"></h6>
				<button type="button" data-bs-toggle="modal" data-bs-target="#addFriend" class="btn">
					<img src="/img/person-add.svg" alt="people add" style="width: 16px; height: 16px;">
				</button>
			</div> 
			<div class="modal-body">
				<p>allo</p>
				<p>allo</p>
				<p>allo</p>
				<p>allo</p>
				<p>allo</p>
				<p>allo</p>
				<p>allo</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
		</div>
	</div> 
</div>

<!-- add friend modal -->
<div class="modal infiniteModal" id="addFriend" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addFriend" aria-hidden="true">
	<div class="friendBtn modal-dialog modal-dialog-scrollable position-absolute bottom-0 end-0 mb-0 me-0">
		<div class="modal-content rounded-0 border">
			<div class="modal-header d-flex justify-content-between">
				<h6 class="modal-title">Add friend</h6>
				<button type="button" data-bs-toggle="modal" data-bs-target="#friend" class="btn">
					<img src="/img/people.svg" alt="person fill">
				</button>
			</div> 
			<div class="modal-body">
				<p>oui</p>
				<p>oui</p>
				<p>oui</p>
				<p>oui</p>
				<p>oui</p>
				<p>oui</p>
				<p>oui</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
		</div>
	</div> 
</div>
