<div class="">
	<ul class="list-unstyled ">
		<li >
			<a href="#/" data-i18n="home" class="nav-link active "> </a>
		</li>
		<li >
			<a href="#/about" data-i18n="about" class="nav-link active"> </a>
		</li>
		<h2><a href="#" class="nav-link active " translate="no">Transcendence</a></h2>
		<li>
			<a href="#/login" data-i18n="login" class="nav-link active"> </a>
		</li>
		<li >
			<a href="#/signup" data-i18n="sign_up" class="nav-link disabled"> </a>
		</li>
	</ul>
</div>
<div class="link position-absolute top-0 end-0 me-2 mt-2">
	<a href="http://github.com/wdelaros/">
		<img src="/img/github.svg" alt="github logo" style="width: 32px; height: 32px;">
	</a>
</div>
